.achivements-board {
    height: 490px;
    left: 0px;
    display: flex;
    justify-content: center;
}

.first-card {
    width: 336px;
    height: 340px;
    left: 135px;
    top: 75px;
    margin: 25px;
}

.rating-text {
    height: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-left: 10px;
    /* identical to box height, or 100% */
    color: #0A093D;
}

.img-class {
    display: flex;
}

.img-text {
    width: 126px;
    height: 18px;
    margin-bottom: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    letter-spacing: -0.02em;

    color: #217BF4;
}

.next-text {
    width: 274px;
    height: 78px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #8C8C8C;
}

.firtcard-btn {
    text-transform: none !important;
    height: 16px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */


    color: #217BF4 !important;

}
.git-text{
    width: 176px;
height: 18px;
margin-bottom: 25px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */


color: #5D5B70;
}
.second-btn {
    text-transform: none !important;
    height: 16px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    color: #5D5B70 !important;

}
.achivement-text{
width: 149px;
height: 18px;

font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */


color: #217BF4;

}
.digital-text{
    width: 381px;
height: 96px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* or 133% */


color: #0A093D;
}
.last-card {
    width: 380px;
    height: 340px;
    left: 135px;
    top: 75px;
    margin: 25px;
}
.last-btn{
width: 192px;
height: 58px;
background: #217BF4 !important;
box-shadow: 0px 10px 22px rgba(33, 123, 244, 0.26) !important;
border-radius: 14px !important;
}
.next-text-2 {
width: 360px;
height: 84px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
/* or 175% */
color: #0A093D;


color: #656464;
}
.dicovertext{
height: 14px;
text-transform: none;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */

text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;
}